<header class="c-header">
  <div class="c-header__box">

    <div style="margin-bottom: 40px;margin-top: 20px;">
	  <h2> Services </h2>
	  <div style="font-size: 16px; margin-left:20px;">
		<p>I have served as a reviewer for the following conferences and journals:</p>
		<h5>Conferences</h5>
		<ul class="c-service-list">
			<li class="c-service-tag" title="AAAI Conference on Artificial Intelligence">AAAI</li>
			<li class="c-service-tag" title="IEEE/CVF Conference on Computer Vision and Pattern Recognition">CVPR</li>
			<li class="c-service-tag" title="European Conference on Computer Vision">ECCV</li>
			<li class="c-service-tag" title="Eurographics">EG</li>
			<li class="c-service-tag" title="IEEE/CVF International Conference on Computer Vision">ICCV</li>
			<li class="c-service-tag" title="Conference on Neural Information Processing Systems">NeurIPS</li>
			<li class="c-service-tag" title="ACM SIGGRAPH Conference">SIGGRAPH</li>
			<li class="c-service-tag" title="ACM SIGGRAPH Asia Conference">SIGGRAPH Asia</li>
		</ul>
		<h5>Journals</h5>
		<ul class="c-service-list">
		  <li class="c-service-tag" title="CAAI Transactions on Intelligence Technology">CAAI CIT</li>
		  <li class="c-service-tag" title="Computers &amp; Graphics">C&amp;G</li>
		  <li class="c-service-tag" title="Computer Graphics Forum">CGF</li>
		  <li class="c-service-tag" title="International Journal of Computer Vision">IJCV</li>
		  <li class="c-service-tag" title="Pattern Recognition Letters">PRL</li>
		  <li class="c-service-tag" title="Scientific Reports">Sci Rep</li>
		  <li class="c-service-tag" title="Signal, Image and Video Processing">SIViP</li>
		  <li class="c-service-tag" title="IEEE Transactions on Image Processing">TIP</li>
		  <li class="c-service-tag" title="The Visual Computer">TVC</li>
		  <li class="c-service-tag" title="IEEE Transactions on Visualization and Computer Graphics">TVCG</li>
		</ul>
	  </div>
	</div>
    <!--
    <div>
	  <h2> Selected Rewards </h2>
	  <div style="font-size: 16px; margin-left:20px;"><p><i>Future Scholar</i> Scholarship (Top 5%) in 2018.</p></div>
	</div>
	-->
  </div>
  <div style="margin-top: 20px; padding-top: 20px; border-top: 1px solid #f0f0f0; text-align: center; font-size: 13px; color: #a0a0a0;">
    <p>{{site.time | date: '%Y'}} &copy; {{site.author-name}}</p>
  </div>

</header> <!-- /.c-header -->
