<header class="c-header">
  <div class="c-header__box">
  
    <div style="margin-bottom: 40px;margin-top: 20px;">
	  <h2> Services </h2>
	  <div style="font-size: 16px; margin-left:20px;">
		<p>I have served as a reviewer for the following conferences and journals:</p>
		<h5>Conferences</h5>
		<ul>
			<li>CVPR 2025, 2024, 2023</li>
			<li>ICCV 2025, 2023</li>
			<li>ECCV 2024</li>
			<li>NeurIPS 2025</li>
		</ul>
		<h5>Journals</h5>
		<ul>
		  <li>TVCG</li>
		  <li>IJCV</li>
		  <li>PRL</li>
		  <li>Scientific Reports</li>
		  <li>CAAI CIT</li>
		</ul>
	  </div>
	</div>
    <div>
	  <h2> Selected Rewards </h2>
	  <div style="font-size: 16px; margin-left:20px;"><p><i>Future Scholar</i> Scholarship (Top 5%) in 2018.</p></div>
	</div>
  </div>
  
</header> <!-- /.c-header 