<header class="c-header">
  <div class="c-header__box">
  
    <div style="margin-bottom: 40px;">
	  <h2> About Me </h2>
	  <div style="font-size: 16px; margin-left:20px;">
	    <p>I'm an postdoctoral researcher in the <a href="https://ait.ethz.ch/">Advanced Interactive Technologies lab</a> at ETH Zurich. My research interests include dynamic reconstruction, machine learning, and 3D animation.</p>
	    <p>I received a B.S. degree and a Ph.D. degree in software engineering from Tsinghua University, Beijing, China, in 2018 and 2023. My advisor is Prof. <a href="http://xufeng.site/">Feng Xu</a></p>.
	   </div>
	</div>
    <div>
	  <h2> Education and Employment </h2>
	  <table style="font-size: 16px; margin-left: 20px;">
	    <tr>
	  	  <td>Postdoc<span style="margin-left:10px;"></span></td>
	  	  <td>2023.08 ~ present,<span style="margin-left:10px;"></span></td></td>
	  	  <td>Department of Computer Science, ETH Zurich, Switzerland.</td>
		</tr>
	    <tr>
	  	  <td>Ph.D.<span style="margin-left:10px;"></span></td>
	  	  <td>2018.08 ~ 2023.06,<span style="margin-left:10px;"></span></td></td>
	  	  <td>School of Software, Tsinghua University, Beijing, China.</td>
		</tr>
	    <tr>
	  	  <td>B.S.<span style="margin-left:10px;"></span></td>
	  	  <td>2014.08 ~ 2018.06,<span style="margin-left:10px;"></span></td></td>
	  	  <td>School of Software, Tsinghua University, Beijing, China.</td>
		</tr>
	  </table>
	</div>
  </div>
  
</header> <!-- /.c-header -->