<header class="c-header">
  <div class="c-header__box">
  
    <div style="margin-bottom: 40px;">
	  <h2> About Me </h2>
	  <div style="font-size: 16px; margin-left:20px;"><p>I am a Ph.D. student at Tsinghua University, and I am going to graduate in July 2023. My advisor is Prof. <a href="http://xufeng.site/">Feng Xu</a>. I am currently looking for a postdoctoral position.</p><p>My research interests include dynamic reconstruction, 3D animation, and machine learning.</p> </div>
	</div>
    <div>
	  <h2> Education </h2>
	  <table style="font-size: 16px; margin-left: 20px;">
	    <tr>
	  	  <td>Ph.D.<span style="margin-left:10px;"></span></td>
	  	  <td>2018 ~ present,<span style="margin-left:10px;"></span></td></td>
	  	  <td> School of Software, Tsinghua University, Beijing, China.</td></tr>
	    <tr>
	  	  <td>B.S.<span style="margin-left:10px;"></span></td>
	  	  <td>2014 ~ 2018,<span style="margin-left:10px;"></span></td></td>
	  	  <td> School of Software, Tsinghua University, Beijing, China.</td></tr>
	  </table>
	</div>
  </div>
  
</header> <!-- /.c-header -->